In [ ]:
!ls

In [ ]:
%cd drive/MyDrive/

In [ ]:
%mkdir ENGG680_2025Fall

In [ ]:
%cd ENGG680_2025Fall/

In [ ]:
# illustration about value assignment
a=1
b=2
a=b
print(a)
print(b)

In [ ]:
b=10
print(a)

# **PANDAS**

In [2]:
import pandas as pd
import numpy as np

In [3]:
s=pd.Series([1,3,np.nan,7,9])
print(s)

0    1.0
1    3.0
2    NaN
3    7.0
4    9.0
dtype: float64

In [4]:
s=pd.Series([1,3,5,7,'text'])
print(s)

0       1
1       3
2       5
3       7
4    text
dtype: object

In [5]:
# Define custom row labels
row_labels = ['Row1', 'Row2', 'Row3', 'Row4']

df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=row_labels, dtype="float32"), #row_labels
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    },
    index=row_labels  # Setting the custom index for the entire DataFrame

)
print(df2)

print(df2.dtypes)

        A          B    C  D      E    F
Row1  1.0 2013-01-02  1.0  3   test  foo
Row2  1.0 2013-01-02  1.0  3  train  foo
Row3  1.0 2013-01-02  1.0  3   test  foo
Row4  1.0 2013-01-02  1.0  3  train  foo
A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [6]:
# Create a Python list that holds the names of the four columns.
my_column_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']

my_row_names = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create a 3x4 numpy array, each cell populated with a random integer.
my_data = np.random.randint(low=0, high=101, size=(10, 4))

# Create a DataFrame.
df = pd.DataFrame(data=my_data, columns=my_column_names,index=my_row_names)

# Print the entire DataFrame
print(df)

df['GPA']=df[:].mean(axis=1) #'0' is |, '1' is --
# df['GPA']=df[['Eleanor','Chidi']].mean(axis=1)
# df.loc['x']=df[:].mean(axis=0)
print(df)

   Eleanor  Chidi  Tahani  Jason
a       77     63      21     63
b       39     11      65     48
c       16     89      35     16
d       59     60      32      6
e       54      0      26      3
f       37     31      77     78
g       20     20      93     80
h       66     30      20     98
i       20     66      21     22
j       58      6      98     90
   Eleanor  Chidi  Tahani  Jason    GPA
a       77     63      21     63  56.00
b       39     11      65     48  40.75
c       16     89      35     16  39.00
d       59     60      32      6  39.25
e       54      0      26      3  20.75
f       37     31      77     78  55.75
g       20     20      93     80  53.25
h       66     30      20     98  53.50
i       20     66      21     22  32.25
j       58      6      98     90  63.00

In [7]:
# Create a column named Janet whose contents are the sum
# of two other columns.
df['Janet'] = df['Tahani'] + df['Jason']

# Print the enhanced DataFrame
print(df)

   Eleanor  Chidi  Tahani  Jason    GPA  Janet
a       77     63      21     63  56.00     84
b       39     11      65     48  40.75    113
c       16     89      35     16  39.00     51
d       59     60      32      6  39.25     38
e       54      0      26      3  20.75     29
f       37     31      77     78  55.75    155
g       20     20      93     80  53.25    173
h       66     30      20     98  53.50    118
i       20     66      21     22  32.25     43
j       58      6      98     90  63.00    188

In [35]:
# how to visit certain element?
df.loc['a','Jason'] #location
df.iloc[0,2] #integer location

# you can tell the difference (visit the column, row)
df.loc['a'].iloc[0] # df.loc['a'] visit the certain row
df['Jason'].iloc[0] # df['Jason'] visit the certain col
df[1:3] # visit 1 to 2 rows.df[1:3] it also can visit row, but should be number, df['a'] is wrong


# df.loc['a',0] # Think about this, why is it wrong?

   Eleanor  Chidi  Tahani  Jason    GPA  Janet
b       39     11      65     48  40.75    113
c       16     89      35     16  39.00     51

In [ ]:
df.iloc[0:2,2:4]

In [ ]:
df.transform(lambda x: x * 1.2) # Think about this, will this change the df varible?
print(df)

In [ ]:
# df=df.cumsum() #understand what is cumsum
print(df.cumsum())# will this change the df varible?
df.plot()

In [ ]:
df.to_csv('myDataFrame.csv')

In [ ]:
file= pd.read_csv('myDataFrame.csv')
print(file)

In [ ]:
file2=pd.read_excel('gpsL1_pseudorange_with_rawdiffs_temperature.xlsx')
frame1=file2.iloc[0:10,[2,5]]
frame2=file2.iloc[0:10,0:3]
print(frame1)
print(frame2)

merged_frame=pd.merge(frame2,frame1,on='Pseudorange_ChangingFBN')
print(merged_frame)

In [ ]:
file2.head(1) # know the file before you get the col and row you want

In [ ]:
# dataframe 2 numpy
a=file2.iloc[:,2:5].to_numpy()
a

In [ ]:
# numpy 2 dataframe
arr = np.array([[1, 2, 3],
        [4, 5, 6]])

# convert to DataFrame
df1 = pd.DataFrame(arr)   # default colume name are 0,1,2
df2 = pd.DataFrame(arr, columns=["A", "B", "C"])  # self define column name "list"
print(df1,'\n')
print(df2)

# Numpy

In [ ]:
# Create a simple one-dimensional array
a = np.array([1, 2, 3])

# Create a two-dimensional array
b = np.array([[1, 2, 3], [4, 5, 6]])

# Create an array of zeros
c = np.zeros(shape=(2, 3)) #(2,3) SHAPE=TUPLE

# Create an array of ones
d = np.ones((2, 3))

# Create an array of random numbers
e = np.random.rand(2, 3)

# Create identity array
f = np.identity(3)

# Print the arrays
print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)
print("f =", f)

In [ ]:
c = np.zeros(shape=(2, 3))
print(c)

In [ ]:
#broadcast
# 1D array of shape (1,3)
a = np.array([1, 2, 3])

# 2D array of shape (2, 3)
b = np.array([[1, 1, 1],
        [2, 2, 2]])

# Broadcasting a to match the shape of b
result = a + b
print(result)

In [ ]:

# 2D array of shape (2, 3)
a = np.array([[1, 2, 3],
        [4, 5, 6]])

# 2D array of shape (3, 2)
b = np.array([[1, 1],
        [2, 2],
        [3, 3]])

# Attempting to broadcast incompatible shapes
try:
    result = a + b
    print(result)
except ValueError as e:
    print("Broadcasting Error:", e)

In [ ]:
# Stake two matrix
# Create two arrays
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

# Horizontally stack the two arrays
h_stacked = np.hstack((a, b))
print(h_stacked)

# Vertically stack the two arrays
v_stacked = np.vstack((a, b))
print(v_stacked)

In [ ]:
# Reshape
# Create a 1D array of 12 elements
a = np.arange(1, 13)  # Generates numbers from 1 to 12
print("Original array:")
print(a)

# Reshape it into a 3x4 matrix
b = a.reshape(3,4 )
print("\nReshaped array into 3x4 matrix:")
print(b)

In [ ]:
# Access the element
# Access the first element of the reshaped array
print("First element of the reshaped array:")
print(b[0, 0])

# Slice elements from the second row
print("Elements from the second row:")
print(b[1, :])

# Slice elements from the third column
print("Elements from the third column:")
print(b[:, 2])

In [ ]:
# Matrix Calculation
# Create two 2x2 matrices
A = np.array([[1, 2],
        [3, 4]])
B = np.array([[2, 0],
        [1, 2]])

# Matrix multiplication
C = np.dot(A, B)
print("Matrix Multiplication of A and B:\n", C)

# Determinant of A
det_A = np.linalg.det(A)
print("Determinant of A:", det_A)

# Eigenvalues of A
eigenvalues = np.linalg.eigvals(A)
print("Eigenvalues of A:", eigenvalues)

In [ ]:
# Generate an array of 10 random numbers
data = np.random.randn(10)
print("Data:", data)

# Mean
mean_data = np.mean(data)
print("Mean:", mean_data)

# Median
median_data = np.median(data)
print("Median:", median_data)

# Variance
variance_data = np.var(data)
print("Variance:", variance_data)

# Standard Deviation
std_dev_data = np.std(data)
print("Standard Deviation:", std_dev_data)

In [ ]:
# Create two arrays
x = np.array([1, 2, 3, 4])
y = np.array([5, 6, 7, 8])

# Element-wise addition
z_add = np.add(x, y)
print("Element-wise addition:", z_add)

# Element-wise multiplication
z_mul = np.multiply(x, y)
print("Element-wise multiplication:", z_mul)

# Element-wise exponentiation
z_exp = np.exp(x)
print("Element-wise exponentiation:", z_exp)